@use "sass:color";
@use "sass:math";
@use "variables" as *;
@use "mixins" as *;

button,
.button {
  border: 1px solid $accent-d;
  background: $accent-d;
  background: linear-gradient(
    to bottom,
    $accent-d,
    color.adjust($accent-d, $lightness: -5%)
  );
  color: #fff;
  font-size: 1rem;
  padding: math.div(gutter(), 1.5) gutter() * 1.5;
  text-transform: uppercase;
  font-family: $display;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-radius: 5px;
  box-shadow: 0 0.25em 0.5em 0 rgba(#000, 0.1);
  cursor: pointer;
  outline: none;

  &:hover {
    background: linear-gradient(to bottom, $accent, $accent-d);
  }

  @include bp($m) {
    font-size: 1.15rem;
  }

  &.alt {
    background: linear-gradient(to bottom, $accent2, $accent4);

    &:hover {
      background: linear-gradient(to bottom, $accent4, $accent4);
    }
  }

  &.narrow {
    padding: math.div(gutter(), 2) gutter() * 1.25;
  }

  &[data-disabled] {
    color: #444;
    background: #eee;
  }
}

img {
  max-width: 100%;
}

.wysiwyg-block {
  img {
    border: 5px solid #fff;
    box-shadow: 0 2px 1em 0 rgba($dark, 0.2);
    border-radius: 3px;

    &[src$=".png"],
    &[src$=".svg"],
    &.no-border {
      border: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;

    &:first-child {
      margin-top: 1em;
    }
  }

  p:first-child {
    margin-top: 1em;
  }
}

a {
  color: color.adjust($accent-d, $lightness: -10%);

  &.no-decoration {
    text-decoration: none;
    color: inherit;
  }
  &.hover {
    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  list-style-type: disc;
  padding: math.div(gutter(), 4) gutter() math.div(gutter(), 2) gutter();

  li {
    margin-bottom: math.div(gutter(), 2);
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
